
.pokemon-map-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
}

.map-box {
  width: 100%;
  height: calc(100% - 60px); /* Full height minus the nav height */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
  width: 95%; /* Adjust to fit inside the box */
  height: 95%; /* Adjust to fit inside the box */
}

button.navigate-button-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffcb05;
  color: #3b4cca;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}



@media screen and (max-width: 600px) {
  .map-container {
    width: 100%;
    height: 100%;
  }

  button.navigate-button-overlay,
  button.navigate-button {
    padding: 8px 12px;
    font-size: 12px;
  }
}

